* {
  box-sizing: border-box;
}
.invoice-from-main-container {
  border-top: 3px solid black;
  background-color: rgb(185, 184, 184, 0.4);
}

.table-heading-row {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.table-heading {
  font-size: 0.8em;
}

.table-options{
    vertical-align: top;
    border-bottom: 1px dashed gray;
    padding-bottom: 0.6em;
}
.table-description{
    width: 35%;
}
.table-rate{
    width: 18%;
}
.width-5{
    width: 5%;
}
.table-padding-left-6th{
    padding-left: 0.6em;
}

.table-padding-right-6th{
    padding-right: 0.6em;
}
.table-item-close-button{
    border: 1px solid;
    padding: 0.3em;
    border-radius: 0.4em;
}